/* index.js */

.header__trips {
  margin-top: 10px;
  margin-bottom: 20px;
}

.header__trips h1,
.header__trips p {
  color: grey;
}

.header__trips h1 {
  font-size: 30px;
  margin-left: 10px;
}

.trips__message {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 40vh;
  color: grey;
  font-size: 15px;
}

/* TripsPreview.js */

.trips__preview {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 9px #ada7ad2a;
}

.trips__preview--images {
  display: flex;
  justify-content: space-between;
}

.trips__preview--images img {
  width: 25%;
  height: 80px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
}

.trips__preview--description {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trips__preview--description h3,
.trips__preview--description p {
  color: grey;
}

.trips__preview--description h3 {
  margin-left: 10px;
}

.trips__preview--description p {
  margin-right: 10px;
}

/* .trips__preview--description h3 {
  color: #f76f63;
} */

/* TripsFilter.js */

.trips__filter button {
  border: none;
  color: #fff;
  font-size: 15px;
  padding: 10px;
}

.trips__filter button:hover {
  cursor: pointer;
}

.trips__filter button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 2px solid #fff;
}

.trips__filter button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 10px;
}

.logout__button {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

@media screen and (min-width: 500px) {
  .trips__preview--images img {
    height: 100px;
  }
}

@media screen and (min-width: 600px) {
  .trips__preview--images img {
    border: 10px solid #fff;
    border-radius: 18px;
    height: 120px;
  }
}

@media screen and (min-width: 700px) {
  .trips__preview--images img {
    height: 140px;
  }
}

@media screen and (min-width: 800px) {
  .trips__preview--images img {
    height: 160px;
  }
}

@media screen and (min-width: 1000px) {
  .trips__preview--images img {
    max-height: 175px;
    height: auto;
  }
}
