* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir Next', sans-serif !important;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

#root {
  height: 100%;
}

.link {
  width: 100%;
}
