* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Avenir Next', sans-serif !important;
  max-width: 100vw;
}

body {
  /* width: 100vw; */
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: black;
}

.link {
  width: 100%;
}
