.auth__form {
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__form--section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth__form--form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.auth__form--logo {
  margin-bottom: -60px;
  margin-left: -20px;
}

.auth__form--text {
  display: inline-block;
  font-size: 14px;
  color: grey;
  margin-right: 4px;
}

.login__input {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  color: grey;
  padding-left: 15px;
}

.login__input::placeholder {
  font-size: 14px;
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .auth__form--form {
    max-width: 400px;
  }
}

.login__node-enter {
  opacity: 0;
  position: absolute;
  margin-bottom: -100%;
}

.login__node-enter-active {
  opacity: 1;
  margin-bottom: 0;
  transition: opacity 0.5s, margin-bottom 0.5s;
}

.login__node-exit {
  opacity: 1;
  position: absolute;
  margin-bottom: 0;
}

.login__node-exit-active {
  opacity: 0;
  margin-bottom: 100%;
  transition: opacity 0.5s, margin-bottom 0.5s;
}
