.auth__form {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__form--form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.auth__form--logo {
  margin-bottom: -60px;
  margin-left: -20px;
}

.auth__form--button {
  width: 100%;
  margin-bottom: 16px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f76f63;
  color: #fff;
  font-weight: 600;
}

.auth__form--text,
.auth__form--link {
  display: inline-block;
  font-size: 14px;
}

.auth__form--text {
  color: grey;
}

.auth__form--link {
  margin-left: 4px;
  color: #f76f63;
  font-weight: 600;
}

.login__input {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  color: grey;
  padding-left: 15px;
}

.login__input::placeholder {
  font-size: 14px;
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .auth__form--form {
    max-width: 400px;
  }
}
