.pal__button {
  width: 100%;
  margin-bottom: 16px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f76f63;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.pal__button:disabled {
  opacity: 0.6;
}

.pal__button--text {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  padding: 0;
  border-radius: 0;
  background-color: #fff;
  color: #f76f63;
  font-size: 14px;
}

.pal__button--icon {
  width: auto;
  margin-bottom: 0;
  padding: 12.5px 14px 12.5px 14px;
  border-radius: 50%;
}

.pal__button--svg {
  height: 18px;
}
