/* index.js */

.trips__message {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 40vh;
  color: grey;
  font-size: 15px;
}

/* TripsPreview.js */

.trips__preview {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 9px #ada7ad2a;
}

.trips__preview--images {
  display: flex;
  justify-content: space-between;
}

.trips__preview--images img {
  width: 25%;
  height: 80px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
}

.trips__preview--description {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trips__preview--description h3,
.trips__preview--description p {
  color: grey;
}

.trips__preview--description h3 {
  margin-left: 10px;
}

.trips__preview--description p {
  margin-right: 10px;
}

@media screen and (min-width: 500px) {
  .trips__preview--images img {
    height: 100px;
  }
}

@media screen and (min-width: 600px) {
  .trips__preview--images img {
    border: 10px solid #fff;
    border-radius: 18px;
    height: 120px;
  }
}

@media screen and (min-width: 700px) {
  .trips__preview--images img {
    height: 140px;
  }
}

@media screen and (min-width: 800px) {
  .trips__preview--images img {
    height: 160px;
  }
}

@media screen and (min-width: 1000px) {
  .trips__preview--images img {
    max-height: 175px;
    height: auto;
  }
}

/* TripsFilter.js */

.trips__filter--button {
  padding: 12px;
  border: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.trips__filter--button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 3px solid #fff;
}

.trips__filter--button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* TripsHeader */

.trips__header {
  margin-bottom: 12px;
}

.trips__header h1,
.trips__header p {
  color: grey;
}

.trips__header h1 {
  font-size: 32px;
}

/* TripsNav.js */

.trips__nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: calc(100% - 20px * 2);
}

.trips__nav--wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}

.plus__button--trips {
  position: static;
  left: 0;
  right: 0;
}
